future
emoji
lxml
beautifulsoup4
requests
SQLAlchemy==1.4.31
python-telegram-bot==13.11.0
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow
CurrencyConverter
#googletrans
google_trans_new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
pyrate-limiter
covid
datetime
pytz
cachetools
ujson
bs4
fontTools
hachoir
pybase64
pySmartDL
validators
youtube_dl
youtube_search_python==1.4.9
gtts
pretty_errors
tswift
